## Duplikate, fehlende Werte und Ausreisser

In dieser Aufgabe werden Sie lernen, wie man mit doppelten Werten, fehlenden Daten und Ausreissern umgeht. Sie werden ausserdem wichtige Techniken der Datenbereinigung anwenden, die in der Praxis häufig benötigt werden.

Legen Sie zunächst die folgenden Dokumentationen zu den jeweiligen Manipulationen durch:
- [Wissensdatenbank: Duplikate entfernen](https://abbts-dat-ski.github.io/wissensdatenbank/data-engineering/drop_duplicates/)
- [Wissensdatenbank: Befüllen von fehlenden Werten](https://abbts-dat-ski.github.io/wissensdatenbank/data-engineering/fillna/)
- [Wissensdatenbank: Entfernen von Ausreissern](https://abbts-dat-ski.github.io/wissensdatenbank/data-engineering/outliers/)

### Aufgabenstellung

Bearbeiten Sie den Solarpanel-Datensatz, der in der Datei `/data_solarpanels_4135001.csv` im Ordner `data` gespeichert ist. Der Datensatz enthält Daten aus verschiedenen Quellen, wobei nur der erste Datensatz korrekt ist. Ihr Ziel ist es, diesen Datensatz zu bereinigen.

Führen Sie die folgenden Schritte durch:

1. **Fehlende Werte (NA-Werte) ersetzen**:  
   Überprüfen Sie den Datensatz auf fehlende Werte (NA). Es ist wichtig, dass Sie für fehlende Werte einen sinnvollen Ersatzwert auswählen. Überlegen Sie sich dabei, was das Fehlen eines Wertes im Kontext des Datensatzes bedeutet, und wählen Sie entsprechend einen Ersatzwert. Beispielsweise könnte es sinnvoll sein, fehlende Werte mit dem **Durchschnitt** oder dem **Median** der jeweiligen Spalte zu ersetzen, wenn dies die Verteilung der Daten am besten widerspiegelt.

2. **Duplikate entfernen**:  
   Der Datensatz enthält mehrere Datenpunkte pro Zeitpunkt, wobei jewils nur der erste Datenpunkt korrekt ist. Entfernen Sie alle doppelten Zeilen und behalten Sie nur das erste Vorkommen der Daten bei, indem Sie den `subset`-Parameter der `drop_duplicates`-Funktion nutzen. 

3. **Ausreisser identifizieren**:  
   Analysieren Sie den Datensatz auf Ausreisser, die signifikant vom Rest der Daten abweichen. Definieren Sie einen Ausreisser basierend auf dem **z-Score**. Ein z-Score ist der Abstand eines Wertes vom Durchschnitt, gemessen in Standardabweichungen. Ein Wert wird als Ausreisser betrachtet, wenn sein z-Score **grösser als 3** oder **kleiner als -3** ist. Identifizieren Sie diese Ausreisser, aber **entfernen Sie sie nicht**.

In [1]:
import pandas as pd

df = pd.read_csv("../data/data_solarpanels_4135001.csv")
df

              DATE_TIME  PLANT_ID  DC_POWER  AC_POWER  DAILY_YIELD
0      15-05-2020 00:00   4135001       NaN       NaN          NaN
1      15-05-2020 00:00   4135001       NaN       NaN          NaN
2      15-05-2020 00:00   4135001       NaN       NaN          NaN
3      15-05-2020 00:00   4135001       NaN       NaN          NaN
4      15-05-2020 00:00   4135001       NaN       NaN          NaN
...                 ...       ...       ...       ...          ...
68773  17-06-2020 23:45   4135001       NaN       NaN     5967.000
68774  17-06-2020 23:45   4135001       NaN       NaN     5147.625
68775  17-06-2020 23:45   4135001       NaN       NaN     5819.000
68776  17-06-2020 23:45   4135001       NaN       NaN     5817.000
68777  17-06-2020 23:45   4135001       NaN       NaN     5910.000

[68778 rows x 5 columns]

In [ ]:
# YOUR CODE HERE